<section class="row" id="about">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="col-sm-12">
			<h2 id="message">Gadgets, fashion, entertainment, cats<span>-Just Kidding, for now...-</span>, and collectibles</h2>
		</div>

		<div class="col-sm-8 col-sm-offset-4 col-lg-8 col-lg-offset-4">
			<p class="statement">
			We had a hobby of selling things online out of our <a href="https://en.wikipedia.org/wiki/Michigan_State_University">MSU</a> dorm. It was a small operation. Linksys routers and the occasional burner. At that time, selling on Amazon was so novel that we 
			found it cool even though we barely made money. But our operation matured. 
			We had moved from the dorms to a house. We were shipping a dozen 50 pound boxes twice a week. 
			The house had a security camera. The UPS employees passive-aggresively coerced us into helping load and unload the packages. We 
			evaded them by going out for pizza when they came. It was undeniable. We had a small business.

			<br>
			<br>

			After graduation, yes we finished unlike the cool kids, we decided that the status quo wasn't enough. We didn't want to just get "jobs" 
			or own "businesses" We wanted to be make an impact! 
			We wanted to save the world. We wanted to be super heroes. So we moved to the only logical place to do that. We moved to The Bay, where people obviate economic and social inequality 
			from the most unaffordable metropolis in the world!
			
			<br>
			<br>

			The DPC isn't just some startup full of craft beer drinking, slacklining millennials with nothing palpable to contribute. We actually do and mean business! 
			We are an innovative creative group of Michiganders who are spreading the Detroit quality one package at a time.

			<br>
			<br>

			Due to recent global cybersecurity concerns our website doesn't offer e-commerce, but soon will! We are building our secure e-store, as you read this, brick by brick of code. In the meantime you can securely shop through our
			<a href="http://www.amazon.com/gp/aag/main?ie=UTF8&asin=&seller=A13ZDU6VPG0TGQ" target="_blank">Amazon</a> and <a href="https://squareup.com/market/detroit-packing-co" target="_blank">Square</a> 
			storefronts. Make sure to leave feedback, good or bad; we want to 
			learn from you.

			<br>
			<br>

			If you need a job and live around the Bay Area, then click <a href="http://sfbay.craigslist.org/search/jjj" target="_blank">here</a>.

			<br>
			<br>

			Because we don't have time for people who need jobs, we're looking for someone who <span class="emphasis">wants</span> them!
			 If this sounds like you then you might make a good 
			<a href="#careers">addition to our team.</a>
			</p>
		</div>
	</div>

	
</section>

<footer data-bind="compose: 'viewmodels/footer'"></footer>