<section class="row" id="careers">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="col-sm-4">
				<h2>DESTINATION:</h2>
			</div>

			<div class="col-sm-8">
				<h2 id="">
					<span style="color:red;">RED</span>WOOD CITY
				</h2>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<blockquote>"Climate Best By Government Test"</blockquote>
				</div>

				<div class="col-sm-8">
					<p class="statement">
						Want to live at the heart of the heart of The Bay?
						We have the best climate according to government tests! 
						Why would you live and work anywhere else?

						<br>
						<br>

						We love our employees and they love us. It's not uncommon for 
						our team to discuss philosophy while kicking back a couple craft beers. Of 
						course after satisfying our customers.
						<br>
						<br>

						We offer competitive salaries and generous benefits. We prefer to 
						hire locals. No remote work please!
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row banner-jobs">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="col-sm-12">
				<h3>We love</h3>
			</div>
			<div class="col-sm-12">
				<!-- ko foreach: loves -->
					<div class="col-sm-6 col-md-4 love">
						<p data-bind='text: love'></p>
					</div>
				<!-- /ko -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="col-sm-12">
				<h3>Currently looking for:</h3>
			</div>

			<div class="col-sm-12">
				<h5>Sorry. We currently have no openings. Check again soon!</h5>
			</div>
		</div>
	</div>

	<div class="row fine-print">
		<div class="col-lg-8 col-lg-offset-2">
			<div c;ass="col-xs-12">
			<p class="col-xs-12">
			Detroit Packing Co. is committed to the principles of equal opportunity, non-discrimination and affirmative action. available to all without regard to race, color, gender, religion, national origin, political persuasion, sexual orientation, marital status, disability, height, weight, veteran status, age or familial status. The DPC is an Affirmative Action, Equal Opportunity Employer.
			</p>
			<div>
		</div>
	</div>
</section>

<footer data-bind="compose: 'viewmodels/footer'"></footer>