<section class="row" id="footer">
        <img class="col-xs-12 col-md-2" src="http://i.imgur.com/vEp37jV.png" />

        <div class="col-md-8">
            <div class="col-md-3">
                <a href="mailto:info@detroitpacking.co">
                    <i class="fa fa-envelope"></i> info@detroitpacking.co
                </a>
                <a href="tel:0000000000">
                    <br><i class="fa fa-phone"></i> 000.000.0000
                </a>
            </div>
        </div>
</section>