<section class="row" id="about">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-12">
			<h1 id="message">Gadgets, fashion, entertainment, cats<span>-Just Kidding, for now...-</span>, and collectibles</h1>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p class="statement">
			We are a group of creative young professionals who started selling Linksys routers 
			out of our dorm room while studying at Michigan State University. After graduation-no we didn't drop out like the cool kids-we moved to the Bay for a change 
			in scenery but continued the Detroit Packing Co.'s legacy. The DPC 
			isn't just some startup full of ping pong playing millennials with nothing palpable 
			to contribute. We actually do, and mean, business!

			<br>
			<br>

			We don't sell stuff through our website at this time because of the recent global cyber security issues. But you can securely can shop with us through our
			<a href="http://www.amazon.com/gp/aag/main?ie=UTF8&asin=&seller=A13ZDU6VPG0TGQ" target="_blank">Amazon</a> and <a href="https://squareup.com/market/detroit-packing-co" target="_blank">Square</a> 
			storefronts. Make sure to leave a review, whether it be good or bad; we want to 
			learn from you!

			<br>
			<br>

			If you need a job and live around the Bay Area, then click <a href="http://sfbay.craigslist.org/search/jjj" target="_blank">here.</a>
			 If that's not you and you want a job, then we might be interested. We don't want someone who needs a job, we want somebody who <span class="emphasis">wants</span> 
			one! If you're a go getter then you might make a good 
			<a href="#careers">addition to our team.</a>
			</p>
		</div>
	</div>
</section>

<footer data-bind="compose: 'footer.html'"></footer>