<section class="row" id="careers">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="col-sm-4">
				<h2>DESTINATION:</h2>
			</div>

			<div class="col-sm-8">
				<h2 id="redwoodcity">
					<span style="color:red;">RED</span>WOOD CITY
				</h2>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<blockquote>"Climate Best By Government Test"</blockquote>
				</div>

				<div class="col-sm-8">
					<p class="statement">
						Want to live at the heart of the heart of The Bay?
						We have the best climate according to government tests! 
						Why would you live and work anywhere else?

						<br>
						<br>

						We love our employees and they love us. It's not uncommon for 
						our team to discuss philosophy while kicking back a couple craft beers. Of 
						course after satisfying our customers.
						<br>
						<br>

						We offer competitive salaries and generous benefits. We prefer to 
						hire locals. No remote work please!
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row banner-jobs">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="col-sm-4">
				<h5>We love</h5>
			</div>
			<div class="col-sm-8">
				<ul>
					<li>Culture</li>
					<li>Craft Beer</li>
					<li>Ping Pong</li>
					<li>Foosball</li>
					<li>Cats</li>
					<li>Marketing Savvy</li>
					<li>Innovation</li>
					<li>C, C++, or Java</li>
					<li>Adobe Creative Suite</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="col-sm-4">
				<h5>Currently looking for:</h5>
			</div>

			<div class="col-sm-8">
				<h5>Sorry. We currently have no openings. Check again soon!</h5>
			</div>
		</div>
	</div>
</section>

<footer data-bind="compose: 'viewmodels/footer'"></footer>