<div class="row">
  <div id="home-carousel" class="carousel slider slick-slider">
        <!-- ko foreach: carouselItems -->
        <div class="row">
          <img data-bind="attr: {src: img}" />
          <div class="slick-text col-md-4 col-md-offset-1">
            <h1 class="slick-header" data-bind="text: header"></h1>
            <div class="slick-caption" data-bind="text: description"></div>
          </div>
        </div>
        <!-- /ko -->  
  </div>
</div>

<section class="row" id="banner-statement">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="text-right">
      DETROIT quality service
    </h1>
    <h2 class="text-right">
      Anywhere in the WORLD*
    </h2>
    <h3 class="text-right">
      Based in the BAY AREA
    </h3>
  </div>
</section>

<section class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="col-sm-4 facade-mission text-center">
      <h3 class=''>What we do</h3>
      <i class="fa fa-shopping-cart fa-4x"></i>
      <p class="body-text">We purvey quality products in tech, fashion, and niche collectibles</p>
    </div>
    <div class="col-sm-4 facade-mission text-center">
      <h3 class=''>Detroit Quality</h3>
      <i class="fa fa-thumbs-up fa-4x"></i>
      <p class="body-text">Established in Detroit, we know quality when it comes to products and service</p>
    </div>
    <div class="col-sm-4 facade-mission text-center">
      <h3 class="">Sustainable Practices</h3>
      <i class="fa fa-heart fa-4x"></i>
      <p class="body-text">We value our environmental and strive to perform 
        our business ethically and sustainably. We are the Detroit Packing, not Fracking, Co.
      </p>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="col-sm-4">
      Image here
    </div>

    <div class="col-sm-8">
      <h2 class="header-primary">People love us</h2>
      <p class="statement">
        With a proven track record, people are satisifed with our service. Just 
        read our customer feedback. Others were happy with our speedy and friendly 
        service and we are sure that you will love us, too!
      </p>
    </div>
  </div>
</section>

<footer data-bind="compose: 'viewmodels/footer'"></footer>
