.banner-jobs {background-color:red; color:white;}

.banner-jobs ul {list-style: none; padding: 0; margin-top:1rem;}
.banner-jobs ul li {margin-left:0;}

#redwoodcity {letter-spacing: 1rem;}

.col-md-4.love { }
.love * {text-align:center;}

.careers-notice {margin-top:30px; padding-top:30px;}