#footer {padding: 20px 0; margin-top:20px;}

@media (max-width: 991px) {
	#footer a {padding-bottom:1rem; padding-top:1rem; margin-bottom:2rem; margin-top:2rem;}
}
@media (max-width: 767px) {
	#footer #contact * {margin-bottom: 1.5rem;}
	#footer #site-map {margin-top:4rem;}
	#footer a {font-size: 2rem; padding-top:1rem; padding-bottom:1rem;}

	#footer img.logo {max-width: 75%; margin-left:12.5%; margin-bottom:2rem;}
}
	
#footer #site-map {list-style: none;}
#footer #site-map li {display:inline-block; margin-right: 2rem;}