

@media (max-width: 767px) {
	#home-banner {background: url('../../images/City.jpg'); overflow:hidden; height:400px;}
}
@media (min-width: 768px) {
	#home-banner {background: url('../../images/City.jpg'); overflow:hidden; height:550px;}
}

#banner-statement * {font-weight:900; color:white;}

.body-text {line-height: 2.5rem;}
#banner-statement {background-color: red;}
#footer {background-color: red; margin: 0 0;}
#footer * {color:white;}
