#main-nav {background-color: rgba(255,255,255,.8);}
#main-nav * {color: #0f0f0f;}

#main-nav a:hover { }

.navbar-header {height:100%;}

#activeTitle {color:red; padding-bottom:15px; padding-top:15px; margin:0 15px; line-height:20px;}
