#main-nav {background-color: rgba(255,255,255, 1);}
#main-nav * {color: #0f0f0f;}

#main-nav a:hover { }

.navbar-header {height:100%;}

#activeTitle {color:red; padding-bottom:15px; padding-top:15px; margin:0 0 0 15px; line-height:20px;}

.store-li {padding:0; margin:0;}
ul.navbar-right .store-link {padding:0; margin:0 0 0 10px;}
.store-icon {height:50px; margin-bottom:0; margin-top:0; padding-top:0; padding-bottom:0;}
